.main-formAdocao form .mb-3 {
    width: 350px;
    text-align: left;
    margin-left: 395px;
}

.main-formAdocao form .mb-3 {
    margin-left: 0px;
}

.main-formAdocao form #container {
    display: flex;
    justify-content: center;
}

.main-formAdocao form #container .mb-3 {
    margin-left: 0px;
}

.main-formAdocao form .textarea {
    width: 725px;
} 

@media screen and (max-width: 710px) {
    .main-formAdocao img {
        height: 206px;
    }

    .main-formAdocao form .textarea {
        width: 325px;
    }

    .main-formAdocao {
        justify-content: left;
    }

    /* .main-formAdocao img {
        margin-left: -250px;
    } */

    /* .main-formAdocao #pTitulo {
        margin-left: -250px;
    } */

    .main-formAdocao form #container {
        display: block;
    }
}