.main-formAdocao form .mb-3 {
    margin-left: 395px;
    width: 350px;
    text-align: left;
}

.main-formAdocao #formAdocao .mb-3 {
    margin-left: 0px;
}

.main-formAdocao form #container {
    display: flex;
    justify-content: center;
}

.main-formAdocao form #container .mb-3 {
    margin-left: 0px;
}

.main-formAdocao form .textarea {
    width: 725px;
} 

@media screen and (max-width: 710px) {
    .main-formAdocao img {
        height: 206px;
    }

    .main-formAdocao form .textarea {
        width: 325px;
    }

    .main-formAdocao form #container {
        display: block;
    }

    .main-formAdocao form {
        width: 100vw;
        margin-left: 150px;
    }

    body {
        overflow-x: hidden;
    }

    .main-formAdocao #pTitulo {
        font-size: 45px;
    }
}