.main-adote #divTitulo {
    display: flex;
    justify-content: center;
    /* margin-left: 350px; */
    gap: 50px;
}

.main-adote #divTitulo #logo-proAnimal {
    margin-top: 30px;
}

.main-adote #divTitulo #logo-proAnimal img {
    width: 150px;
    height: 150px;
    transition: width 1s, height 1s;
}

.main-adote #divTitulo #logo-proAnimal img:hover {
    width: 170px;
    height: 170px;
}

#pSubtitulo {
    text-align: center;
}

.main-adote #divContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: space-between;
}

.main-adote #divContainer .card {
    margin-bottom: 50px;
    width: 18rem;
    transition: width 1s, box-shadow 1s;
    cursor: pointer;
    color: black;
}

.main-adote #divContainer .card .card-body {
    height: 300px;
}

.main-adote #divContainer .card:hover {
    width: 20rem;
    box-shadow: 0px 10px 30px 0px #87cefa;
}

.main-adote #divContainer .card-ultimaLinha {
    margin-bottom: 0px;
}

.main-adote #divContainer .card .card-body .card-title {
    font-weight: bold;
    color: #87cefa;
}

.main-adote #divContainer .card img {
    height: 346.4px;
}

.infoImportantes {
    font-weight: bold;
}

@media screen and (max-width: 710px) {
    .main-adote #divTitulo {
        /* margin-left: 20px; */
    }

    #pTitulo {
        font-size: 40px;
    }

    #pSubtitulo {
        font-size: 20px;
    }

    .main-adote #divTitulo #logo-proAnimal {
        margin-right: -35px;
    }

    .main-adote #divTitulo #logo-proAnimal img {
        width: 110px;
        height: 110px;
    }

    .main-adote #divContainer {
        justify-content: center;
    }
}