/* .main-adote {
    display: flex;
    justify-content: center;
    gap: 50px;
} */

.main-adote #divTitulo {
    display: flex;
    margin-left: 350px;
    gap: 50px;
}

.main-adote #divTitulo #logo-proAnimal {
    margin-top: 30px;
    /* margin-left: 350px; */
}

.main-adote #divTitulo #logo-proAnimal img {
    width: 150px;
    height: 150px;
}

#pSubtitulo {
    text-align: center;
}

.main-adote #divContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: space-between;
}

.main-adote #divContainer .card {
    margin-bottom: 50px;
    width: 18rem;
}

.main-adote #divContainer .card-ultimaLinha {
    margin-bottom: 0px;
}

.main-adote #divContainer .card .card-body .card-title {
    font-weight: bold;
    color: #87cefa;
}

.main-adote #divContainer .card img {
    height: 346.4px;
}

.infoImportantes {
    font-weight: bold;
}

@media screen and (max-width: 710px) {
    .main-adote #divTitulo {
        margin-left: 20px;
    }

    #pTitulo {
        font-size: 40px;
    }

    #pSubtitulo {
        font-size: 20px;
    }

    .main-adote #divTitulo #logo-proAnimal {
        margin-right: -35px;
    }

    .main-adote #divTitulo #logo-proAnimal img {
        width: 110px;
        height: 110px;
    }

    .main-adote #divContainer {
        justify-content: center;
    }
}