.mainAdote #container #divTitulo {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.mainAdote #container #divTitulo #logo-proAnimal {
    margin-top: 30px;
}

.mainAdote #container #divTitulo #logo-proAnimal img {
    width: 150px;
    height: 150px;
    transition: width 1s, height 1s;
}

.mainAdote #container #divTitulo #logo-proAnimal img:hover {
    width: 170px;
    height: 170px;
}

#pSubtitulo {
    text-align: center;
}

.mainAdote #container #containerCard {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: space-between;
}

.mainAdote #container #containerCard .card {
    margin-bottom: 50px;
    width: 18rem;
    transition: width 1s, box-shadow 1s;
    cursor: pointer;
    color: black;
}

.mainAdote #container #containerCard .card:hover {
    width: 20rem;
    box-shadow: 0px 10px 30px 0px #87cefa;
}

.mainAdote #container #containerCard .ultimoCard {
    margin-bottom: 0px;
}

.mainAdote #container #containerCard .card img {
    height: 346.4px;
}

.mainAdote #container #containerCard .card .card-body {
    height: 300px;
}

.mainAdote #container #containerCard .card .card-body .card-title {
    font-weight: bold;
    color: #87cefa;
}

.mainAdote #container #containerCard .card .card-body .p-infoImportantes {
    font-weight: bold;
}

.mainAdote #container #containerCard .card .card-body span {
    font-style: italic;
}

@media screen and (max-width: 710px) {
    #pTitulo {
        font-size: 40px;
    }

    #pSubtitulo {
        font-size: 20px;
    }

    .mainAdote #container #divTitulo #logo-proAnimal {
        margin-right: -35px;
    }

    .mainAdote #container #divTitulo #logo-proAnimal img {
        width: 110px;
        height: 110px;
    }

    .mainAdote #container #divTitulo #logo-proAnimal img:hover {
        width: 130px;
        height: 130px;
    }

    .mainAdote #container #containerCard {
        justify-content: center;
    }
}