.main-homenagemAntonio #container #pTexto p {
    font-style: italic;
}

.main-homenagemAntonio #container #pTexto span {
    font-weight: bold;
}

@media screen and (max-width: 710px) {
    .main-pagInicial img {
        width: 310px;
        height: 387px;
    }
}